@font-face {
    font-family: 'podkova';
    src: url('https://naln1.ca/ASSETS/FONTS/RAIN/podkova.bold-webfont.woff2') format('woff2'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/podkova.bold-webfont.woff') format('woff'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/podkova.bold-webfont.ttf') format('truetype'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/podkova.bold-webfont.svg#podkovabold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'podkova';
    src: url('https://naln1.ca/ASSETS/FONTS/RAIN/podkova.regular-webfont.woff2') format('woff2'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/podkova.regular-webfont.woff') format('woff'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/podkova.regular-webfont.ttf') format('truetype'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/podkova.regular-webfont.svg#podkovaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'liberation_serif';
    src: url('https://naln1.ca/ASSETS/FONTS/RAIN/liberationserif-bold-webfont.woff2') format('woff2'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/liberationserif-bold-webfont.woff') format('woff'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/liberationserif-bold-webfont.ttf') format('truetype'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/liberationserif-bold-webfont.svg#liberation_serifbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'liberation_serif';
    src: url('https://naln1.ca/ASSETS/FONTS/RAIN/liberationserif-bolditalic-webfont.woff2') format('woff2'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/liberationserif-bolditalic-webfont.woff') format('woff'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/liberationserif-bolditalic-webfont.ttf') format('truetype'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/liberationserif-bolditalic-webfont.svg#liberation_serifbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'liberation_serif';
    src: url('https://naln1.ca/ASSETS/FONTS/RAIN/liberationserif-italic-webfont.woff2') format('woff2'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/liberationserif-italic-webfont.woff') format('woff'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/liberationserif-italic-webfont.ttf') format('truetype'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/liberationserif-italic-webfont.svg#liberation_serifitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'liberation_serif';
    src: url('https://naln1.ca/ASSETS/FONTS/RAIN/liberationserif-regular-webfont.woff2') format('woff2'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/liberationserif-regular-webfont.woff') format('woff'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/liberationserif-regular-webfont.ttf') format('truetype'),
         url('https://naln1.ca/ASSETS/FONTS/RAIN/liberationserif-regular-webfont.svg#liberation_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	background-color:#333333;
	color:white;
	margin: 0px;
	font-family: 'liberation_serif', 'Times New Roman', 'Georgia', Serif
}

* 
{
	box-sizing: border-box;
}

h1 {
	font-family: 'podkova', 'Roboto Slab', 'Arvo', Serif
}

.title
{
	text-align:center;
}

.day-night
{
	height:30px;
	width:30px;
	float:right;
	margin:5px;
}

.sidenav
{
	width: 16%; 
	float: left;
	background-color: #111;
	padding-top: 20px;
	padding-bottom: 20px;
}

.main
{
	width: 84%;
	float: left; 
}

.main-body{
	padding-left: 40px;
	padding-top: 50px;
}

.sidenav a
{
	padding: 6px 6px 6px 32px;
	text-decoration: none;
	color: #818181;
	display: block;
}

.sidenav p
{
	padding: 6px 6px 6px 32px;
	margin: 0;
	/*uncomment above to remove spacing for disabled(turned into <p> tags) navbar items */
	text-decoration: none;
	color: #880022;
	display: block;
}

.projects
{
	font-size: 20px;
}

.main-sect
{
	font-size:30px;
	padding-bottom:20px;
}

.sidenav a:hover
{
	color: #f1f1f1;
}

